// Path to assets for use with file-url()
$path: "/buyers/static/images/";

// GOV.UK Design System
$govuk-assets-path: '/buyers/static/';
$govuk-images-path: '/buyers/static/images/';
$govuk-fonts-path: '/buyers/static/fonts/';
@import "node_modules/govuk-frontend/govuk/all";

// Digital Marketplace Components
@import "node_modules/digitalmarketplace-govuk-frontend/digitalmarketplace/all";

// App specific styles
@import "_text.scss";
@import "_iframe_preview.scss";

// Overrides
@import "overrides/_govuk-label";
@import "overrides/_summary-list.scss";
@import "overrides/_task-list";
