{% extends "_base_page.html" %}

{% block pageTitle %}
  Create account error – Digital Marketplace
{% endblock %}

{% block mainContent %}

{% if error == 'invalid_buyer_domain' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You must use a public sector email address
      </h1>

      <p class="govuk-body">
        You must be employed by, or represent, a public sector organisation to create a buyer account.
      </p>
      <p class="govuk-body">
        The email you used doesn't belong to a recognised public sector domain.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ url_for('.create_buyer_account') }}">Create an account using a different email address</a> or email
        <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a> if:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          you think your domain should be recognised
        </li>
        <li>
          you still can't create an account
        </li>
      </ul>

    </div>
  </div>

{% elif not token %}
  <h1 class="govuk-heading-l">
    Expired link
  </h1>
  <p class="govuk-body">
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or <a class="govuk-link" href="{{ url_for('.create_buyer_account') }}">send a new one</a>.<br/>
    If you still can’t create an account, email <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a>
  </p>

{% elif user %}

  {% if not user.active %}
    <h1 class="govuk-heading-l">
      Your account has been deactivated.
    </h1>
    <p class="govuk-body">
      Email <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a> to reactivate your account.
    </p>

  {% elif user.locked %}
    <h1 class="govuk-heading-l">
      Your account has been locked.
    </h1>
    <p class="govuk-body">
      Email <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a> to unlock your account.
    </p>

  {% elif user.role == 'supplier' %}
    <h1 class="govuk-heading-l">
      The details you provided are registered with a supplier.
    </h1>
    <p class="govuk-body">Your email address is already registered as an account with ‘{{ user.supplier_name }}’.</p>
    <p class="govuk-body">You can <a class="govuk-link" href="{{ url_for('.create_buyer_account') }}">create a buyer account using a different email address</a>, or email
      <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a> to have your account
      converted to a buyer account.</p>
    <p class="govuk-body">
      Alternatively, <a class="govuk-link" href="{{ url_for('external.render_login') }}">Log in</a> to your {{ user.supplier_name }} account.
    </p>

  {% else %}
    <h1 class="govuk-heading-l">Account already exists</h1>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('external.render_login') }}">Log in</a> to your account.
    </p>

  {% endif %}
{% endif %}
{% endblock %}
