{% extends "_base_page.html" %}

{% block pageTitle %}
  Create buyer account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Create a buyer account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Create a buyer account
    </h1>

    <p class="govuk-body">
      You must be employed by, or represent, a public sector organisation.
    </p>

    <p class="govuk-body">
      Use your work email address to create an account.
      We use this to check that you are part of a public sector organisation.
    </p>

    <p class="govuk-body">
      We will send an account activation email to this address. You will then be able to set your password.
    </p>

    <form method="POST" action="{{ url_for('.submit_create_buyer_account') }}" novalidate>

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{ govukInput({
        "label": {
          "text": form.email_address.label.text,
        },
        "errorMessage": errors.email_address.errorMessage,
        "id": "input-email_address",
        "name": "email_address",
        "type": "email",
        "value": form.email_address.data,
        "attributes": {
          "autocomplete": "username",
          "spellcheck": "false",
        }
      }) }}

      {{ govukButton({
        "text": "Create account",
      }) }}

    </form>
  </div>
</div>

{% endblock %}
