{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Create buyer account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Create a buyer account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

{% with lede = "There was a problem with the details you gave for:" %}
  {% include "toolkit/forms/validation.html" %}
{% endwith %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Create a buyer account
    </h1>

    <p class="govuk-body">
      You must be employed by, or represent, a public sector organisation.
    </p>

    <p class="govuk-body">
      Use your work email address to create an account.
      We use this to check that you are part of a public sector organisation.
    </p>

    <p class="govuk-body">
      We will send an account activation email to this address. You will then be able to set your password.
    </p>

    <form method="POST" action="{{ url_for('.submit_create_buyer_account') }}">

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{ form.email_address }}

      {{ govukButton({
        "text": "Create account",
      }) }}

    </form>
  </div>
</div>

{% endblock %}
