{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Activate your account - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Activate your account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="single-question-page">
  <h1 class="govuk-heading-xl">Activate your account</h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="govuk-body">
        An email has been sent to {{ email_address }}.
        You need to click on the link in the email to activate your account.
      </p>
    </div>
  </div>
</div>

{% endblock %}
