{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Create buyer account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Create a buyer account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

{% with lede = "There was a problem with the details you gave for:" %}
  {% include "toolkit/forms/validation.html" %}
{% endwith %}

<h1 class="govuk-heading-l">
  Create a buyer account
</h1>

<p class="govuk-body-l">
  You must be employed by, or represent, a public sector organisation.
</p>

<div class="grid-row">
  <div class="column-two-thirds">

    <form method="POST" action="{{ url_for('.submit_create_buyer_account') }}">

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{ form.email_address }}

      <p class="govuk-body">We will send an account activation email to this address. You will then be able to set your password.</p>

      {{ govukButton({
        "text": "Create account",
      }) }}

    </form>
  </div>
</div>

{% endblock %}
