{% extends "_base_page.html" %}

{% block pageTitle %}
  Activate your account - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Activate your account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="single-question-page">
  <h1 class="govuk-heading-xl">Activate your account</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        An email has been sent to ‘{{ email_address }}’.
      </p>

      <p class="govuk-body">
        Use the link in the email to activate your account.
      </p>
    </div>
  </div>
</div>

{% endblock %}
