-c requirements.txt

pip-tools>=5.4.0

cssselect
flake8
freezegun
lxml
mock
pytest
python-dotenv  # used to load .flaskenv
syrupy
watchdog

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.8.2#egg=digitalmarketplace-test-utils==2.8.2
