-c requirements.txt

pip-tools>5.0.0

coverage
coveralls
cssselect
flake8
freezegun
lxml
mock
pytest
pytest-cov
python-dotenv  # used to load .flaskenv
syrupy
watchdog

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.7.0#egg=digitalmarketplace-test-utils==2.7.0
