-r requirements.txt

#Required for testing
pytest==4.3.0
mock==2.0.0
lxml==4.3.2
cssselect==1.0.3
watchdog==0.9.0
freezegun==0.3.11
flake8==3.7.7
coverage==4.5.3
pytest-cov==2.6.1
python-coveralls==2.9.1

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.1.2#egg=digitalmarketplace-test-utils==2.1.2
