/*
 * On smaller screens, it's difficult to discern headings from summary
 * list keys, so we size up the headings
 */
 .app-summary-list-heading {
    @include govuk-media-query($until: tablet) {
        font-size: 22px;
        margin-top: 10px;
    }
}

/*
 * A top border more clearly delineates the multiple data lists per page
 * from their headings and other context.
 */
.app-govuk-summary-list--top-border {
    border-top: 1px solid $govuk-border-colour;

    @include govuk-media-query($until: tablet) {
        padding-top: govuk-spacing(3)
    }
}
/*
 * We de-bold the questions to avoid bombarding users with emphasised text
 * and to help the headings stand out.
 */
.app-govuk-summary-list .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
        font-weight: $govuk-font-weight-regular;
    }
}

/*
 * When a summary list is empty, we display a paragraph styled to look like
 * a row.
 */
.app-no-summary-content {
    color: $secondary-text-colour;
    @include core-16;
    margin-bottom: govuk-spacing(7);
    border-top: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
  }
