{% extends "_base_page.html" %}

{% import "macros/show_question.html" as show_question %}

{% block pageTitle %}
  {{ question.question }} – Digital Marketplace
{% endblock %}

{% block mainContent %}

  {% if question.type == 'multiquestion' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ question.question }}
      </h1>
    </div>
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ request.path }}" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {% if question.type != 'multiquestion' %}
            {{ show_question.show_question(question, brief, errors) }}
          {% else %}
            {% if question.question_advice %}
              <span class="question-advice">
                {{ question.question_advice }}
              </span>
            {% endif %}
            {% for question in question.questions %}
              {{ show_question.show_question(question, brief, errors, is_only_question=False) }}
            {% endfor %}
          {% endif %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% block save_button %}{% endblock %}

      </div>
    </div>

  </form>

{% endblock %}
