{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ question.question }} – Digital Marketplace
{% endblock %}

{% block mainContent %}

  {% if question.type == 'multiquestion' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ question.question }}
      </h1>
    </div>
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ request.path }}" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {{ render_question(question, brief, errors) }}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% block save_button %}{% endblock %}

      </div>
    </div>

  </form>

{% endblock %}
