{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "digitalmarketplace/components/list-input/macro.njk" import dmListInput %}

{%- macro show_question(is_govuk_frontend, question, brief, errors, is_only_question=True) %}
  {% if is_govuk_frontend %}
    {% set form = govuk_frontend_from_question(question, brief, errors, is_page_heading=is_only_question) %}
    {% set govuk_forms = {"govukInput": govukInput, "dmListInput": dmListInput} %}
    {%- if form.label %}
      {{ govukLabel(form.label) }}
    {% endif -%}
    {% if not form.params.question_advice %}
      {{ question.question_advice }}
    {% endif %}
    {{ govuk_forms[form.macro_name](form.params) }}
  {% elif errors and errors[question.id] %}
    {{ forms[question.type](question, brief, errors) }}
  {% else %}
    {{ forms[question.type](question, brief, {}) }}
  {% endif %}
{% endmacro -%}

{% block pageTitle %}
  {{ question.question }} – Digital Marketplace
{% endblock %}

{% block mainContent %}
  {% set is_govuk_frontend = govuk_frontend_from_question(question) %}

  {% if question.type != 'multiquestion' %}
    <div class="single-question-page">
  {% endif %}

  {% if not is_govuk_frontend or question.type == 'multiquestion' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ question.question }}
      </h1>
    </div>
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ request.path }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {% if question.type != 'multiquestion' %}
            {{ show_question(is_govuk_frontend, question, brief, errors) }}
          {% else %}
            {% if question.question_advice %}
              <span class="question-advice">
                {{ question.question_advice }}
              </span>
            {% endif %}
            {% for question in question.questions %}
              {% set is_govuk_frontend = govuk_frontend_from_question(question) %}
              {{ show_question(is_govuk_frontend, question, brief, errors, is_only_question=False) }}
            {% endfor %}
          {% endif %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% block save_button %}{% endblock %}

      </div>
    </div>

  </form>

  {% if question.type != 'multiquestion' %}
    </div>
  {% endif %}
{% endblock %}
