{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']),
        "text": brief['title']
      },
      {
        "text": "Tell us about your contract"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% include 'toolkit/forms/validation.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-l">Tell us about your contract with {{ pending_brief_response.supplierName }}</h1>
      <form method="POST" action="{{ url_for('.award_brief_details', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, brief_response_id=pending_brief_response.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% for question in section.questions %}
              {{ forms[question.type](
                  question,
                  data,
                  errors if errors and (errors[question.id] or question.type == 'multiquestion') else {},
                 )
              }}
          {% endfor %}

          {% block save_button %}
            {{ govukButton({
              "text": "Update requirements",
              "name": "submit",
            }) }}
          {% endblock %}
      </form>
      {%
          with
          url=url_for(".award_brief", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
          text="Previous page"
      %}
          {% include "toolkit/secondary-action-link.html" %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
