{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief.framework.slug,
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']),
        "text": brief['title']
      },
      {
        "text": "Tell us about your contract"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Tell us about your contract with {{ pending_brief_response.supplierName }}</h1>
      <form
        action="{{ url_for('.award_brief_details', framework_slug=brief.framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id, brief_response_id=pending_brief_response.id) }}"
        method="POST"
        novalidate
      >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          {% for question in section.questions %}
            {{ render_question(question, data, errors, is_page_heading=False) }}
          {% endfor %}

          {% block save_button %}
            {{ govukButton({
              "text": "Update requirements",
              "name": "submit",
            }) }}
          {% endblock %}
      </form>
      <p class="govuk-body"><a class="govuk-link"
         href="{{ url_for('.award_brief', framework_slug=brief.framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
        Previous page
      </a></p>
    </div>
  </div>
{% endblock %}
