{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
        {
          "href": "/",
          "text": "Digital Marketplace"
      },
      {
          "href": url_for("buyers.buyer_dashboard"),
          "text": "Your account"
      },
      {
          "href": url_for("buyers.buyer_dos_requirements"),
          "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']
        ),
        "text": brief['title']
      },
      {
          "text": "Who won the contract?"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
{% include 'toolkit/forms/validation.html' %}
<div class="grid-row">
    <div class="column-two-thirds">
          <div class="single-question-page">
              <h1 class="govuk-heading-l">Who won the {{ brief.title }} contract?</h1>

              <form method="POST" action="{{ url_for('.award_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
                  <p class="govuk-body">
                      This information will be added to your requirements. Suppliers will receive a link to view the update.
                  </p>
                  <p class="govuk-body">
                      You’ll still need to contact suppliers to give them feedback.
                  </p>

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {%
                      with
                      name = "brief_response",
                      question = "Which supplier won the contract?",
                      type = "radio",
                      options = form.brief_response.toolkit_macro_options,
                      value = form.brief_response.data,
                      error = errors.get('brief_response', {}).get('message', None)
                    %}
                      {% include "toolkit/forms/selection-buttons.html" %}
                    {% endwith %}

                    {% block save_button %}
                      {{ govukButton({
                        "text": "Save and continue",
                        "name": "save_and_continue",
                      }) }}
                    {% endblock %}
              </form>
              {%
                with
                url=url_for('.award_or_cancel_brief', framework_slug=brief['frameworkSlug'], lot_slug=brief['lotSlug'], brief_id=brief['id']),
                text="Previous page"
              %}
                {% include "toolkit/secondary-action-link.html" %}
              {% endwith %}
          </div>
    </div>
</div>
{% endblock %}
