{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']
        ),
        "text": brief['title']
      },
      {
          "text": "Have you awarded a contract?"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% include 'toolkit/forms/validation.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="single-question-page">
        {% if already_awarded %}
          <h1 class="govuk-heading-l">Requirements already updated for {{ brief.title }}</h1>
          <p class="govuk-body">
            <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">View the outcome of the requirements</a>
          </p>
      {% else %}
          <h1 class="govuk-heading-l">{{ form.award_or_cancel_decision.label.text }}</h1>
          <form method="POST" action="{{ url_for('.award_or_cancel_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {%
                  with
                  name = "award_or_cancel_decision",
                  question = form.award_or_cancel_decision.label.text,
                  type = "radio",
                  options = form.award_or_cancel_decision.toolkit_macro_options,
                  value = form.award_or_cancel_decision.data,
                  error = errors.get('award_or_cancel_decision', {}).get('message', None)
                  %}
              {% include "toolkit/forms/selection-buttons.html" %}
            {% endwith %}

            {% block save_button %}
              {{ govukButton({
                "text": "Save and continue",
                "name": "submit",
              }) }}
            {% endblock %}
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
