{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}

{% block page_title %}{{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {% with items = breadcrumbs %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% include 'toolkit/forms/validation.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="single-question-page">
        {% if already_awarded %}
          {% with
                heading = "Requirements already updated for {}".format(brief.title),
                smaller = true
          %}
            {% include 'toolkit/page-heading.html' %}
          {% endwith %}
            <p>
              <a href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">View the outcome of the requirements</a>
            </p>
      {% else %}
        {% with
          heading = form.award_or_cancel_decision.label.text,
          smaller = True
        %}
          {% include 'toolkit/page-heading.html' %}
        {% endwith %}

          <form method="POST" action="{{ url_for('.award_or_cancel_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {%
                  with
                  name = "award_or_cancel_decision",
                  question = form.award_or_cancel_decision.label.text,
                  type = "radio",
                  options = form.award_or_cancel_decision.toolkit_macro_options,
                  value = form.award_or_cancel_decision.data,
                  error = errors.get('award_or_cancel_decision', {}).get('message', None)
                  %}
              {% include "toolkit/forms/selection-buttons.html" %}
            {% endwith %}

            {% block save_button %}
              {{ govukButton({
                "text": "Save and continue",
                "name": "submit",
              }) }}
            {% endblock %}
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
