{% extends "_base_page.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief.framework.slug,
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']
        ),
        "text": brief['title']
      },
      {
          "text": "Have you awarded a contract?"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if already_awarded %}
        <h1 class="govuk-heading-l">Requirements already updated for {{ brief.title }}</h1>
        <p class="govuk-body">
          <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">View the outcome of the requirements</a>
        </p>
    {% else %}
        <form method="POST" action="{{ url_for('.award_or_cancel_brief', framework_slug=brief.framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          {{ govukRadios({
            "idPrefix": "input-award_or_cancel_decision",
            "name": "award_or_cancel_decision",
            "items": [
              {"id": "award_or_cancel_decision", "text": "Yes", "value": "yes"},
              {"text": "No", "value": "no"},
              {"text": "We are still evaluating suppliers", "value": "back"},
            ],
            "errorMessage": {
              "text": errors.get('award_or_cancel_decision', {}).get('message', None)
            } if errors,
            "fieldset": {
              "legend": {
                "text": form.award_or_cancel_decision.label.text,
                "isPageHeading": True,
                "classes": "govuk-fieldset__legend--l",
              }
            }
          })}}

          {% block save_button %}
            {{ govukButton({
              "text": "Save and continue",
              "name": "submit",
            }) }}
          {% endblock %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
