{% extends "_base_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block pageTitle %}
  {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "text": brief.get('title', brief['lotName'])
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="grid-row">
    {% block before_heading %}
      {% if delete_requested %}
        <div class="column-one-whole">
          <form action="{{ url_for('buyers.delete_a_brief', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="delete_confirmed" value="true" />
            {%
              with
              message = "Are you sure you want to delete these requirements?",
              type = "destructive",
              action = govukButton({
                "text": "Yes, delete",
                "classes": "govuk-button--warning app-banner-action",
              })
            %}
              {% include "toolkit/notification-banner.html" %}
            {% endwith %}
          </form>
        </div>
      {% endif %}
      {% if withdraw_requested %}
        <div class="column-one-whole">
          <form action="{{ url_for('buyers.withdraw_a_brief', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="withdraw_confirmed" value="true" />
            {% set withdraw_text = "You should only withdraw your requirements if you:" %}
            {% set withdraw_list_items = [
                "want to change something that may affect whether suppliers apply, for example, the budget range or role",
                "can no longer offer the work"
              ]
            %}
            {%
              with
              heading = "Are you sure you want to withdraw these requirements?",
              banner_content = "<p class='govuk-body'>{}</p><ul class='govuk-list govuk-list--bullet'><li>{}</li></ul>".format(withdraw_text, withdraw_list_items|join("</li><li>"))|safe,
              type = "destructive",
              action = govukButton({
                "text": "Withdraw requirements",
                "classes": "govuk-button--warning app-banner-action",
              })
            %}
              {% include "toolkit/notification-banner.html" %}
            {% endwith %}
          </form>
        </div>
      {% endif %}
    {% endblock %}
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-xl">{{ brief.get('title', brief['lotName']) }}</h1>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block before_sections %}{% endblock %}
      <ol class="instruction-list steps">

        {% with
          steps = [
            {
              'title': 'Write requirements',
              'description': {
                'draft': 'Before you can publish your requirements, you must complete:',
                'live': 'Done',
                'closed': 'Done',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
            },
            {
              'title': 'Set how you’ll evaluate suppliers',
              'description': {
                'draft': 'Before you can publish your requirements, you must complete:',
                'live': 'Done',
                'closed': 'Done',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
            },
            {
              'title': 'Publish requirements',
              'description': {
                'draft': '',
                'live': 'Open for applications until {}.'.format(brief.applicationsClosedAt | utcdatetimeformat),
                'closed': 'Done',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
              'links': publish_requirements_section_links
            },
            {
              'title': 'Answer supplier questions',
              'description': {
                'draft': 'When you’ve published your requirements, you must answer all supplier questions.',
                'live': 'You must answer all questions by {}. Suppliers will send you questions by email.'.format(brief.clarificationQuestionsPublishedBy | dateformat),
                'closed': 'Done',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
              'links': [
                {
                  'href': url_for(".supplier_questions",framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Publish questions and answers',
                  'allowed_statuses': ['live']
                },
                {
                  'href': 'https://www.gov.uk/guidance/how-to-answer-supplier-questions-about-your-digital-outcomes-and-specialists-requirements',
                  'text': 'How to answer supplier questions',
                  'allowed_statuses': ['draft', 'live']
                }
              ]
            },
            {
              'title': 'Shortlist',
              'description': {
                'draft': 'After the application deadline, shortlist the suppliers who applied.',
                'live': 'After the application deadline, shortlist the suppliers who applied.',
                'closed': '',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
              'links': [
                {
                  'href': url_for(".view_brief_responses", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'View and shortlist suppliers',
                  'allowed_statuses': ['closed']
                },
                {
                  'href': url_for(".view_brief_responses", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'View suppliers who applied',
                  'allowed_statuses': ['cancelled', 'unsuccessful', 'awarded']
                },
                {
                  'href': 'https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers',
                  'text': 'How to shortlist suppliers',
                  'allowed_statuses': ['draft', 'live', 'closed']
                }
              ]
            },
            {
              'title': 'Evaluate',
              'description': {
                'draft': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
                'live': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
                'closed': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
                'awarded': 'Done',
                'cancelled': 'Done',
                'unsuccessful': 'Done',
              },
              'links': [
                {
                  'href': 'https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers',
                  'text': 'How to evaluate suppliers',
                  'allowed_statuses': ['draft', 'live', 'closed']
                }
              ]
            },
            {
              'title': 'Award a contract',
              'description': {
                'draft': 'You must give your chosen supplier a contract before they start work.',
                'live': 'You must give your chosen supplier a contract before they start work.',
                'closed': 'You must give your chosen supplier a contract before they start work.',
                'awarded': 'Done',
                'cancelled': 'The contract was not awarded - the requirements were cancelled.',
                'unsuccessful': 'The contract was not awarded - no suitable suppliers applied.',
              },
              'body': {
                'text': 'Awarded to ' + awarded_brief_response_supplier_name,
                'allowed_statuses': ['awarded']
              },
              'links': [
                {
                  'href': 'https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services',
                  'text': 'How to award a contract',
                  'allowed_statuses': ['draft', 'live', 'closed']
                },
                {
                  'href': call_off_contract_url,
                  'text': "Download the " + brief.frameworkName + " contract",
                  'allowed_statuses': ['draft', 'live', 'closed']
                },
                {
                  'href': url_for(".award_or_cancel_brief", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': "Let suppliers know the outcome",
                  'allowed_statuses': ['closed']
                }
              ]
            }
          ]
        %}

        {% for step in steps %}
          {% set step_number = loop.index %}
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">{{ step_number }}. </span>
              {{ step.title }}</h2>
            {% if step.description %}
              <p class="instruction-list-item-top">{{ step.description[brief.status] }}</p>
            {% endif %}
            {% if step.body %}
              {% if not step.body.allowed_statuses or brief.status in step.body.allowed_statuses %}
                <p class="instruction-list-item-top">{{ step.body.text }}</p>
              {% endif %}
            {% endif %}
            {% if step_number in step_sections and brief.status == 'draft' %}
                <ul class="instruction-list-item-top">
                  {% for section in sections %}
                    {% if section.step == step_number %}
                    <li>
                      {% if completed_sections[section.slug]  %}
                        <span class="tick">
                          <img src="{{ asset_path }}svg/tick.svg" alt="done" width="15" height="14" />
                        </span>
                      {% endif %}
                      <a class="govuk-link" href="{{ brief_links.brief_link_url('grandparent', section, brief) }}">{{ section.name }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            {% endif %}
            {% if step.links %}
              <ul class="instruction-list-item-top">
                {% for link in step.links %}
                  {% if not link.allowed_statuses or brief.status in link.allowed_statuses %}
                    <li>
                      <a class="govuk-link" href="{{ link.href }}">{{ link.text }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        {% endwith %}
      </ol>
    </div>
    <div class="column-one-third">
      {% if brief.status == 'closed' %}
        <a class="govuk-link" href="{{ url_for('buyers.cancel_brief', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">Cancel requirements</a>
      {% elif brief.status == 'live' %}
        {% if not withdraw_requested %}
          <a class="govuk-link" href="{{ url_for('buyers.view_brief_overview', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id, withdraw_requested=True) }}">Withdraw requirements</a>
        {% endif %}
      {% elif brief.status == 'draft' %}
        {% if not delete_requested %}
          <a class="govuk-link" href="{{ url_for('buyers.view_brief_overview', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id, delete_requested=True) }}">Delete draft requirements</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
