{% extends "_base_page.html" %}

{% block pageTitle %}
  Responses to {{ brief.title or brief.lotName }} – Digital Marketplace
{% endblock %}

{% if response_counts['eligible'] > 0 %}
  {% set heading = 'Shortlist suppliers' %}
{% else %}
  {% set heading = 'There were no applications' %}
{% endif %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
        {
          "href": "/",
          "text": "Digital Marketplace"
      },
      {
          "href": url_for("buyers.buyer_dashboard"),
          "text": "Your account"
      },
      {
          "href": url_for("buyers.buyer_dos_requirements"),
          "text": "Your requirements"
      },
      {
        "href": url_for(
            ".view_brief_overview",
            framework_slug=brief['frameworkSlug'],
            lot_slug=brief['lotSlug'],
            brief_id=brief['id']),
        "text": brief['title']
      },
      {
          "text": "Responses"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="govuk-heading-l">{{ heading }}</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
      {% if response_counts['eligible'] > 0 %}
        {% if brief_responses_required_evidence %}
          <div class="dmspeak">
              <p class="govuk-body">
                <span class='visual-emphasis'>{{ response_counts['eligible'] }} {{ pluralize(response_counts['eligible'], "supplier", "suppliers") }}</span>
                responded to your requirements and {{ pluralize(response_counts['eligible'], "meets", "meet") }} all your essential skills and experience.
                Any suppliers that did not meet all your essential requirements have already been told they were unsuccessful.
              </p>
              <p class="govuk-body">
                You said you’d take <span class='visual-emphasis'>{{ brief.numberOfSuppliers }} {{ pluralize(brief.numberOfSuppliers, "supplier", "suppliers") }}</span> through to the evaluation stage. To do this, you need to:
              </p>
          </div>
          {% with items = [
              {
                  "body": 'Read the <a class="govuk-link" href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">guidance on how to shortlist.</a>'|safe,
              },
              {
                  "body": 'Review and score the evidence suppliers have given.',
              },
              {
                  "body": 'Tell the highest scoring suppliers that they’re through to the next stage.',
              },
              {
                  "body": 'Tell any unsuccessful suppliers who don\'t make it through to the next stage.',
              }
          ]
          %}
              {% include "toolkit/instruction-list.html" %}
          {% endwith %}

          {%
          with
          items = [
              {
                  "title": "Download supplier responses to this requirement",
                  "link": url_for('buyers.download_brief_responses', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  "file_type": "ODS",
                  "download": "True"
              }
          ]
          %}
              {% include "toolkit/documents.html" %}
          {% endwith %}

        {% else %}
          <div class="dmspeak">
            <p class="govuk-body">
                <span class='visual-emphasis'>{{ response_counts['eligible'] }} {{ pluralize(response_counts['eligible'], "supplier", "suppliers") }}</span>
                responded to your requirements and {{ pluralize(response_counts['eligible'], "meets", "meet") }} all your essential skills and experience.
                Any suppliers that did not meet all your essential requirements have already been told they were unsuccessful.
            </p>
            <p class="govuk-body">
              Download the list of supplier responses and follow the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">how to shortlist</a>.
            </p>
          </div>

          {%
          with
          items = [
              {
                  "title": "Download supplier responses to \u2018" + brief.get('title', brief['lotName']) + "\u2019",
                  "link": url_for('buyers.download_brief_responses', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  "file_type": "CSV",
                  "download": "True"
              }
          ]
          %}
              {% include "toolkit/documents.html" %}
          {% endwith %}

        {% endif %}
      {% else %}
        <div class="dmspeak">
          <p class="govuk-body">
              No suppliers met your essential skills and experience requirements.
          </p>
          {% if (response_counts['eligible'] or response_counts['failed']) and not brief_responses_required_evidence %}
            <p class="govuk-body">
                All the suppliers who applied have already been told they were unsuccessful.
            </p>
          {% endif %}
        </div>
        <div class='explanation-list'>
            <p class="govuk-body-l">
                If you still need this service, you should start the buying process again. Consider:
            </p>
            <ul class='govuk-list govuk-list--bullet'>
                <li>talking to suppliers before you start</li>
                <li>rewriting your requirements</li>
            </ul>
        </div>
      {% endif %}

      {%
          with
          url = url_for('buyers.view_brief_overview', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
          text = "Back to overview"
      %}
          {% include "toolkit/secondary-action-link.html" %}
      {% endwith %}
    </div>
</div>
{% endblock %}
