{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}

{% block page_title %}{{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = breadcrumbs
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% include 'toolkit/forms/validation.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="single-question-page">

        {% with
        heading = form.cancel_reason.label.text,
        smaller = True
        %}
          {% include 'toolkit/page-heading.html' %}
        {% endwith %}

        <form method="POST" action="{{ url_for(request.endpoint, framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <p class="question-advice">
              This information will be added to your requirements. Suppliers will receive a link to view the update.
          </p>
          <p class="question-advice">
              You’ll still need to contact suppliers to give them feedback.
          </p>
          {%
            with
            name = "cancel_reason",
            question = form.cancel_reason.label.text,
            type = "radio",
            options = form.cancel_reason.toolkit_macro_options,
            value = form.cancel_reason.data,
            error = errors.get('cancel_reason', {}).get('message', None)
          %}
            {% include "toolkit/forms/selection-buttons.html" %}
          {% endwith %}

          {% block save_button %}
            {{ govukButton({
              "text": "Update requirements",
              "name": "submit",
            }) }}
          {% endblock %}
        </form>

        {%
          with
          url=previous_page_url,
          text="Previous page"
        %}
          {% include "toolkit/secondary-action-link.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
