{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% set previous_title_text =
    {
        "digital-outcomes": "Find a team to provide an outcome",
        "digital-specialists": "Find an individual specialist",
        "user-research-participants": "Find user research participants",
    }[lot.slug]
%}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": previous_title_text,
        "href": url_for("dos.info_page_for_starting_a_brief", framework_slug=framework.slug, lot_slug=lot.slug)
      },
      {
        "text": question.question
      }
    ]
  }) }}
{% endblock %}

{% block save_button %}

  {{ govukButton({
    "text": "Save and continue",
    "name": "return_to_overview",
  }) }}

{% endblock %}
