{% extends "toolkit/layouts/_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Your requirements - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {%
    with items = breadcrumbs
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {% with heading = "Your requirements" %}
            {% include 'toolkit/page-heading.html' %}
            {% endwith %}
        </div>
    </div>


{{ summary.heading("Unpublished requirements", id="unpublished_requirements") }}
{% call(item) summary.list_table(
    draft_briefs,
    caption="Unpublished requirements",
    empty_message="You don’t have any unpublished requirements",
    field_headings=[
        "Name",
        "Created",
        "Unanswered questions",
        summary.hidden_field_heading("Make a copy")
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}

        {{ summary.text(item.createdAt|dateformat) }}

        {% if item.unanswered_required > 0 and item.unanswered_optional > 0 %}
            {{ summary.text("{} required<br>{} optional".format(item.unanswered_required, item.unanswered_optional)|safe) }}
        {% elif item.unanswered_required > 0 %}
            {{ summary.text("{} required".format(item.unanswered_required)) }}
        {% elif item.unanswered_optional > 0 %}
            {{ summary.text("{} optional".format(item.unanswered_optional)) }}
        {% else %}
            {{ summary.text() }}
        {% endif %}
        {{ summary.button(text="Make a copy", action=url_for(".copy_brief", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
    {% endcall %}
{% endcall %}

{{ summary.heading("Published requirements", id="published_requirements") }}
{% call(item) summary.list_table(
    live_briefs,
    caption="Published requirements",
    empty_message="You don’t have any published requirements",
    field_headings=[
        "Name",
        "Published",
        "Closing",
        summary.hidden_field_heading("Make a copy")
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {{ summary.text(item.publishedAt|dateformat) }}
        {{ summary.text(item.applicationsClosedAt|dateformat) }}
        {{ summary.button(text="Make a copy", action=url_for(".copy_brief", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
    {% endcall %}
{% endcall %}

{{ summary.heading("Closed requirements", id="closed_requirements") }}
{% call(item) summary.list_table(
    closed_briefs,
    caption="Closed requirements",
    empty_message="You don’t have any requirements that are closed",
    field_headings=[
        "Name",
        "Closed",
        summary.hidden_field_heading("Make a copy")
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {% if item.status == "closed" %}
          {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
          {{ summary.text(item.applicationsClosedAt|dateformat) }}
          {% call summary.field(action=True) %}
            <div class="padding-bottom-small">
                <p><a href="{{ url_for('.view_brief_responses', framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id) }}">View responses</a></p>
                {% if item.status == "closed" %}
                    <p><a class="award-contract-link" href="{{ url_for('.award_or_cancel_brief', framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id) }}">Let suppliers know the outcome</a></p>
                {% endif %}
            </div>
            <form method="post" action="{{ url_for('.copy_brief', framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
                <button type="submit" class="button-secondary">Make a copy</button>
            </form>
          {% endcall %}
        {% elif item.status == "withdrawn" %}
          {{ summary.service_link(item.title, url_for("external.get_brief_by_id", framework_family=item.framework.family, brief_id=item.id)) }}
          {{ summary.text("Withdrawn") }}
          {{ summary.button(text="Make a copy", action=url_for(".copy_brief", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {% elif item.status in ["awarded", "cancelled", "unsuccessful"] %}
          {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
          {{ summary.text(item.applicationsClosedAt|dateformat) }}
          {{ summary.button(text="Make a copy", action=url_for(".copy_brief", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {% endif %}
     {% endcall %}
{% endcall %}
{% endblock %}
