{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block breadcrumb %}
  {% with items = [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']),
        "text": brief['title']
      }
    ]
  %}
    {% if section.has_summary_page %}
      {{ govukBreadcrumbs({
        "items": items + [
          {
            "href": url_for(".view_brief_section_summary", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug),
            "text": section.name
          },
          {
            "text": question.question
          }
        ]
      }) }}
    {% else %}
      {{ govukBreadcrumbs({
        "items": items + [
          {
            "text": question.question
          }
        ]
      }) }}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block save_button %}

  {{ govukButton({
    "text": button_label or "Save and continue",
    "name": "return_to_overview",
  }) }}

  {%
    with
    url = brief_links.brief_link_url('child', section, brief) ,
    text = "Return to {}".format(section.name|lower if section.has_summary_page else 'overview')
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
