{% extends "_base_page.html" %}

{% block pageTitle %}
  Your account - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="grid-row">
  <div class="column-two-thirds">
    <span class="govuk-caption-xl">{{ current_user.email_address }}</span>
    <h1 class="govuk-heading-xl">{{ current_user.name }}</h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds dm-account-overview-options">

    <div class="dmspeak">
      <h2 class="heading-xmedium">Cloud hosting, software and support</h2>
      <p class="govuk-body">
        {% if user_has_projects %}
          {% if user_projects_awaiting_outcomes_total %}
            You need to tell us the outcome for {{ user_projects_awaiting_outcomes_total }}
            {{ pluralize(user_projects_awaiting_outcomes_total, "saved search", "saved searches") }}.<br>
          {% endif %}
          <a class="govuk-link" href="/buyers/direct-award/g-cloud">View your saved searches</a><br>
        {% else %}
          You don't have any saved searches.
        {% endif %}
      </p>

      <h2 class="heading-xmedium">Digital outcomes, specialists and user research participants</h2>
      <p class="govuk-body">
        {% if user_briefs_total %}
          <a class="govuk-link" href="{{ url_for('buyers.buyer_dos_requirements') }}">View your requirements</a><br>
        {% else %}
          You don't have any requirements.
        {% endif %}
      </p>
    </div>

  </div>
  <div class="column-one-third dmspeak">
    <h2 class="heading-xmedium">Account settings</h2>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('external.change_password') }}">Change your password</a>
    </p>

    <p class="govuk-body">
      <a
        class="govuk-link"
        href="{{ url_for('external.user_research_consent') }}"
        data-analytics="trackEvent"
        data-analytics-category="user-research"
        data-analytics-action="account-settings-link"
      >
        {% if not current_user.user_research_opted_in %}
          Join the user research mailing list
        {% else %}
          Unsubscribe from the user research mailing list
        {% endif %}
      </a>
    </p>
  </div>
</div>
{% endblock %}
