{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ brief.title }} [DRAFT] - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
        {
          "href": "/",
          "text": "Digital Marketplace"
      },
      {
          "href": url_for("buyers.buyer_dashboard"),
          "text": "Your account"
      },
      {
          "href": url_for("buyers.buyer_dos_requirements"),
          "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']),
        "text": brief['title']
      },
      {
          "text": "Preview your requirements"
      }
    ]
  }) }}
{% endblock %}


{% block mainContent %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-l">Preview your requirements</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if unanswered_required %}
      <div class="dmspeak">
        <p class="govuk-body">You still need to complete the following questions before your requirements can be previewed:</p>
      </div>
      <ul class="govuk-list govuk-list--bullet">
      {% for section in content.summary(brief) %}
        {% for question in section.questions %}
          {% if question.answer_required and not question.id == 'requirementsLength' %}
            <li>
              <a class="govuk-link" href="{{ url_for('.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id) }}">{{ question.question }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    {% else %}
      <p class="govuk-body">This is how suppliers see your requirements when they are published.</p>
      <p class="govuk-body">Preview links will open in a new tab.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="{{ url_for('.view_brief_overview', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">Return to overview</a>
      </p>

      {% set desktopHtml %}
        <iframe
          src="{{ url_for('.preview_brief_source', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}"
          title="Preview of the page on desktop or tablet"
          class="dm-desktop-iframe"
        >
        </iframe>
      {% endset %}
      {% set mobileHtml %}
        <div class="dm-mobile-preview">
          <iframe
            src="{{ url_for('.preview_brief_source', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}"
            title="Preview of the page on mobile"
            class="dm-mobile-iframe"
          >
          </iframe>
        </div>
      {% endset %}

      {% set pageTabs = [
        {
          "label": "Desktop",
          "id": "desktop-preview",
          "panel": {
            "html": desktopHtml
          }
        },
        {
          "label": "Mobile",
          "id": "mobile-preview",
          "panel": {
            "html": mobileHtml
          }
        },
      ] %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukTabs({
            "title": "Preview your requirements",
            "items": pageTabs
          }) }}
        </div>
      </div>

    <form action="{{ url_for('.publish_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="GET">
      {{ govukButton({
        "text": "Confirm your requirements and publish",
      }) }}
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
