{% extends "_base_page.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}[Draft] {{ brief.title }} - Digital Marketplace{% endblock %}

{% block header %}
  {{ govukHeader({
    "productName": "Digital Marketplace",
    "homepageUrl": "#",
    "navigation": [
      {
        "text": "Guidance",
        "href": "#"
      },
      {
        "text": "Help",
        "href": "#"
      },
      {
        "text": "Log in",
        "href": "#"
      },
    ],
  }) }}
{% endblock header %}

{% block phaseBanner %}
  {{ govukPhaseBanner({
    "tag": {
      "text": "beta",
    },
    "html": "Help us improve the Digital Marketplace - <a class='govuk-link' href='#'>send your feedback</a>",
  }) }}
{% endblock phaseBanner %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "#"
      },
      {
        "text": "Supplier opportunities",
        "href": "#"
      },
      {
        "text": brief.title
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="draft-preview">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ brief.organisation }}</span>
        <h1 class="govuk-heading-l">{{ brief.title }}</h1>
        <span data-lot="{{ brief.lotSlug }}"></span>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-third app-stat-block" id="incomplete-applications">
      <h2><span class="govuk-!-font-size-36 govuk-!-display-block">0</span><span>Incomplete applications</span></h2>
      <p class="govuk-body govuk-!-font-size-16">0 SME, 0 large</p>
    </div>
    <div class="govuk-grid-column-one-third app-stat-block" id="completed-applications">
      <h2><span class="govuk-!-font-size-36 govuk-!-display-block">0</span><span>Completed applications</span></h2>
      <p class="govuk-body govuk-!-font-size-16">0 SME, 0 large</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-visually-hidden">Important dates</h2>
      {{ govukSummaryList({
        "rows": [
          {
            "key": {"text": "Published"},
            "value": {"text": important_dates.published_date|dateformat}
          },
          {
            "key": {"text": "Deadline for asking questions"},
            "value": {"text": important_dates.questions_close|utcdatetimeformat}
          },
          {
            "key": {"text": "Closing date for applications"},
            "value": {"text": important_dates.closing_date|utcdatetimeformat}
          }
        ],
        "attributes": {
          "id": "opportunity-important-dates"
        }, 
        "classes": 'app-govuk-summary-list app-govuk-summary-list--top-border govuk-!-margin-bottom-8'
      }) }}

      {% for section in content_summary %}
        <h2 id="{{ 'opportunity-attributes-{}'.format(loop.index) }}" class="govuk-heading-m app-summary-list-heading">{{ section.name }}</h2>
        {% if section.summary_page_description %}
          <p class="govuk-body govuk-!-margin-top-3">{{ section.summary_page_description }}</p>
        {% endif %}
        {{ govukSummaryList({
          "rows": section.summary_list, 
          "classes": 'app-govuk-summary-list app-govuk-summary-list--top-border govuk-!-margin-bottom-8'
          }) 
        }}
      {% endfor %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if brief.questionAndAnswerSessionDetails %}
        <h2 id="question-and-answer-session" class="govuk-heading-m">Question and answer session</h2>
        <p class="govuk-body"><a class="govuk-link" href="#">View question and answer session details</a></p>
      {% endif %}
      <h2 id="clarification-questions" class="govuk-heading-m app-summary-list-heading">Questions asked by suppliers</h2>
      <p class="summary-item-no-content">No questions have been answered yet</p>

      <p class="govuk-body"><a class="govuk-link" href="#">Log in to ask a question</a></p>

    </div>
  </div>
</div>
{% endblock %}
{% block footer_top %}{% endblock %}

{% block footer_support_links %}

{% endblock %}
