{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ section.name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for(
          ".view_brief_overview",
          framework_slug=brief['frameworkSlug'],
          lot_slug=brief['lotSlug'],
          brief_id=brief['id']),
        "text": brief['title']
      },
      {
        "text": section.name
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="grid-row">

    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds">
      <span class="govuk-caption-l">{{ brief.get('title', brief['lotName']) }}</span>
      <h1 class="govuk-heading-l">{{ section.name }}</h1>
    </div>

    {% if section.description %}
      <div class="column-two-thirds">
        <div class="section-description">
          {{ section.description }}
        </div>
      </div>
    {% endif %}

    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}

      {% call(question) summary.list_table(
        section.questions,
        field_headings=[
          "Requirements attribute name",
          "Requirements attribute",
          "Action"
        ],
        field_headings_visible=False
      ) %}

        {% call summary.row() %}
          {{ summary.field_name(question.label) }}

          {% if question.answer_required or question.is_empty %}
            {% if brief.get('status') == 'draft' %}
              {% call summary.field() %}
                <a class="govuk-link" href="{{ url_for('buyers.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id) }}">{{ question.empty_message or "Not answered" }}</a>
              {% endcall %}
            {% else %}
              {{ summary.text("Not answered") }}
            {% endif %}
          {% else %}
            {% with question_value = summary[question.type](question.display_value or question.value) %}
              {{ (question_value | preserve_line_breaks) if question.type == 'textbox_large' else question_value }}
            {% endwith %}
          {% endif %}

          {% if brief.get('status') == 'draft' %}
            {% if question.is_empty and not question.answer_required %}
              {% call summary.field(action=True) %}
                Optional
              {% endcall %}
            {% elif not question.answer_required %}
              {{ summary.edit_link(
                   "Edit",
                   url_for("buyers.edit_brief_question", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id),
                   hidden_text=question.label
                 )
              }}
            {% else %}
              {% call summary.field() %}{% endcall %}
            {% endif %}
          {% endif %}

        {% endcall %}
      {% endcall %}
    </div>

  </div>

  {% if show_dos_preview_link %}
    {%
      with
      url = url_for(".preview_brief", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
      text = "Preview your requirements"
    %}
      {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
  {% endif %}

  {%
    with
    url = url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
    text = "Return to overview"
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
