{% extends "_base_page.html" %}

{% set title_text =
    {
        "digital-outcomes": "Find a team to provide an outcome",
        "digital-specialists": "Find an individual specialist",
        "user-research-participants": "Find user research participants",
    }[lot.slug]
%}

{% block pageTitle %}
  {{ title_text }} - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": title_text
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="grid-row">
    <div class="column-two-thirds large-paragraph">
      <h1 class="govuk-heading-l">{{ title_text }}</h1>
    </div>

    <div class="column-two-thirds large-paragraph">
        <div class="marketplace-paragraph">
                 {% set digital_specialists_intro %}
                    <p class="govuk-body">You can use the Digital Marketplace to find a specialist, such as a developer or a user researcher, for a specific piece of work.</p>
                    <p class="govuk-body">You need to write ‘requirements’ to describe the work and tell suppliers to provide a specialist. The specialist can’t work for you outside the scope of your written requirements.</p>
                {% endset %}

                 {% set digital_outcomes_intro %}
                    <p class="govuk-body">You can use the Digital Marketplace to find a team to work on a digital outcome, such as a booking system or an accessibility audit.</p>
                    <p class="govuk-body">You need to write ‘requirements’ to describe the situation or problem and ask suppliers to propose a solution and provide a team.</p>
                    <p class="govuk-body">The members of the team can’t work for you outside the scope of your written requirements.</p>
                {% endset %}

                {% set user_research_participants_intro %}
                    <p class="govuk-body">To find user research participants, you need to tell suppliers about the types of participants you want to test your service with. They’ll then tell you what they can do and how much it will cost.</p>
                {% endset %}

                {{
                    {
                    "digital-specialists": digital_specialists_intro,
                    "digital-outcomes": digital_outcomes_intro,
                    "user-research-participants": user_research_participants_intro,
                    }[lot.slug]
                }}
        </div>

        <h2>Before you start</h2>
        <ol class="govuk-list govuk-list--number">
            <li>You can talk to suppliers to prepare your requirements.<br>
                <a class="govuk-link" href="https://assets.digitalmarketplace.service.gov.uk/{{ framework.slug }}/communications/catalogues/{{ lot.slug }}-suppliers.csv">
                    Download list of suppliers.
                </a>
            </li>
            <li>Get budget approval.</li>
        </ol>

        <h2>Write and publish your requirements</h2>
        <ol class="govuk-list govuk-list--number" start="3">
            <li>Write your requirements and say how you’re going to evaluate {{ "specialists" if lot.slug == "digital-specialists" else "suppliers" }}.</li>
            <li>Publish your requirements and evaluation criteria so suppliers can apply for the work. This information will be published on the Digital Marketplace where anyone can see it.</li>
        </ol>

        <h2>Answer supplier questions</h2>
        <ol class="govuk-list govuk-list--number" start="5">
            <li>Post all supplier questions and answers on the Digital Marketplace.</li>
        </ol>

        <h2>Evaluate suppliers</h2>
        <ol class="govuk-list govuk-list--number" start="6">
            <li>Shortlist and evaluate {{ "specialists’" if lot.slug == "digital-specialists" else "supplier" }} applications.</li>
            <li>Award a contract to the {{ "specialist" if lot.slug == "digital-specialists" else "supplier" }} that best meets your needs.</li>
        </ol>

        <p class="govuk-body">The buying process should take around 4 weeks.</p>
        <p class="govuk-body">Read more about:</p>
        <div class="explanation-list">
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">how to buy</a></li>
                <li><a class="govuk-link" href="https://www.gov.uk/guidance/how-digital-marketplace-suppliers-have-been-evaluated">how suppliers have been evaluated</a></li>
            </ul>
        </div>
    </div>

    <div class="column-two-thirds large-paragraph">
        <form action="{{ url_for('buyers.start_new_brief', framework_slug=framework.slug, lot_slug=lot.slug) }}" method="get">

            {{ govukButton({
              "text": "Create requirement",
            }) }}

        </form>
    </div>
</div>

{% endblock %}
