{% extends "_base_page.html" %}

{% block pageTitle %}
  Supplier questions – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("buyers.buyer_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for("buyers.buyer_dos_requirements"),
        "text": "Your requirements"
      },
      {
        "href": url_for("buyers.view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
        "text": brief.get("title", brief["lotName"])
      },
      {
        "text": "Supplier questions"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="grid-row">

    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds">
      <span class="govuk-caption-l">{{ brief.get('title', brief['lotName']) }}</span>
      <h1 class="govuk-heading-l">
        Supplier questions
      </h1>
    </div>

    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}

      {{ summary.heading("Supplier questions", id="clarification-questions") }}
      {{ summary.top_link("Answer a supplier question", url_for('.add_supplier_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id)) }}
      {% call(question) summary.list_table(
        brief.clarificationQuestions,
        field_headings=[
          "Question",
          "Answer"
        ],
        field_headings_visible=False,
        empty_message="No questions or answers have been published"
      ) %}

        {% call summary.row() %}
          {% call summary.field(first=True, wide=False) -%}
            <span aria-label="question">{{ question.number }}.</span>
            {{ question.question | preserve_line_breaks }}
          {%- endcall %}
          {{ summary.text(question.answer) | preserve_line_breaks }}
        {% endcall %}
      {% endcall %}

    </div>
  </div>


  {%
    with
    url = url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
    text = "Return to overview"
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
