{% import "toolkit/forms/macros/forms.html" as forms %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "digitalmarketplace/components/list-input/macro.njk" import dmListInput %}

{%- macro show_question(is_govuk_frontend, question, brief, errors, is_only_question=True) %}
  {% if is_govuk_frontend %}
    {% set form = govuk_frontend_from_question(question, brief, errors, is_page_heading=is_only_question) %}
    {% set govuk_forms = {
      "govukInput": govukInput, 
      "govukRadios": govukRadios,
      "govukCheckboxes": govukCheckboxes,
      "govukDateInput": govukDateInput, 
      "dmListInput": dmListInput, 
      "govukCharacterCount": govukCharacterCount
    } %}
    {%- if form.label %}
      {{ govukLabel(form.label) }}
    {% endif -%}
    {% if form.fieldset %}
      {% call govukFieldset(form.fieldset) %}
        {% if not form.params.question_advice %}
          {{ question.question_advice }}
        {% endif %}
        {{ govuk_forms[form.macro_name](form.params) }}
      {% endcall %}
    {% else %}
      {% if not form.params.question_advice %}
        {{ question.question_advice }}
      {% endif %}
      {{ govuk_forms[form.macro_name](form.params) }}
    {% endif %}
  {% elif errors and errors[question.id] %}
    {{ forms[question.type](question, brief, errors) }}
  {% else %}
    {{ forms[question.type](question, brief, {}) }}
  {% endif %}
{% endmacro -%}
